@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

body {
  @apply bg-black text-gray-100;
  background-image: url('/calc_background.png');
  background-repeat: repeat;
  background-size: auto;
  background-attachment: fixed;
}
